* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.mainHeader {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 18px;
}


/* Media Queries Section START */

@media screen and (max-width: 600px) {
    header.mainHeader {
      font-size: 16px;
    }}

@media screen and (max-width: 480px) {
    header.mainHeader {
        font-size: 14px;
    }}

@media screen and (max-width: 375px) {
    header.mainHeader {
        font-size: 14px;
    }}

@media screen and (max-width: 360px) {
    header.mainHeader {
        font-size: 8.5px;
    }}

@media screen and (max-height: 675px)
and (max-height: 800px) {
    header.mainHeader, .bottomContent {
    visibility: hidden;
    }}

@media screen and (max-height: 799px) {
    header.mainHeader {
    font-size: 14px;
    }}

    @media screen and (max-width: 675px ) {
        span.jsLogo {
            color: rgb(66, 65, 68);
        }
    }

/* Media Queries Section END */

    

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(50deg, rgb(159, 255, 5) 50%, rgb(66, 65, 68) 50%);
}


.container {
    height: 500px;
    width: 330px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rbga(0, 0, 0, 0.75);
    padding: 10px;
    overflow-y: auto;
    margin: 20px;
}

#input {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 25px;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 0 10px;
    margin: 15px 0;
}

#input::placeholder {
    color: #bbb;
}

/* checkmark and X buttons START */
ul li {
    background: #eee;
    height: 45px;
    border-radius: 50px;
    margin: 15px 0;
    padding: 10px;
    position: relative;
    font-size: 18px;

}

ul .lni-checkmark-circle, .lni-cross-circle {
    position: absolute;
    cursor: pointer;
}

ul .lni-checkmark-circle {
    right: 40px;
    color: green;
}

ul .lni-cross-circle {
    right: 15px;
    color: red;
}

ul .checked {
    background: gray;
    text-decoration: line-through;
    transition: 0.5s;
}
/* checkmark and X buttons END */

.bottomContent {
    position: absolute;
    bottom: 25px;
    right: 14px;
    padding: 25px;
    animation-name: textFadeIn;
    animation-duration: 4.5s;
}

.jsLogo {
    color: rgb(159, 255, 5);
    font-size: 38px;
    animation-name: textFadeIn;
    animation-duration: 4.5s;
}


  

